.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.light-background {
  background-color: white;
}

.dark-background {
  background-color: black;
  color: white;
}

.highlight {
  background-color: rgb(251, 255, 0);
}
